In [2]:
import os
import sys
import pandas as pd
import xlrd
import win32com.client
import csv

In [107]:
# Parse Daewon Report
# Parse Spec
dfspec= pd.read_excel("samplekpi.xlsx", sheet_name="Critical Dim", 
                   engine='openpyxl', header=2,nrows=3, usecols=list(range(0, 28)))
datacolumnnames = dfspec.columns
dfspec = dfspec.T.reset_index()
dfspec.columns = dfspec.iloc[0]
dfspec.drop(dfspec.index[0], inplace=True)
dfspec.sort_values(by='Items.', ascending=True,inplace=True)
dfspec.reindex(columns=['Items.', 'LSL', 'Spec Target', 'USL'])
dfspec.columns = ['PARAMETERID', 'Parameter LSL', 'Parameter Target', 'Parameter USL']
dfspec.reset_index(drop=True,inplace=True)
dfspec.to_csv('dfspec.csv', index=False)
jmpreftable = pd.read_csv("Reference Table_temp.csv")
jmpreftable = jmpreftable.update(dfspec)
jmpreftable.to_csv("dfspec_reftable.csv",index=False)

# Parse Measurements
dfmeas = pd.read_excel("samplekpi.xlsx", sheet_name="Critical Dim", 
                   engine='openpyxl', skiprows=5,nrows=30, usecols=list(range(0, 28)))
dfmeas.columns = datacolumnnames
dfmeas = dfmeas.drop(columns=['Items.'])
dfmeas = dfmeas.stack().reset_index()
dfmeas.columns=['Meas','Label','Data']
dfmeas.to_csv('dfmeas.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'to_csv'

In [117]:
jmpreftable = pd.read_csv("Reference Table_temp.csv")
# print(jmpreftable.head())
# jmpreftable.update(dfspec)

In [122]:
dfspec.reset_index(drop=True)

          PARAMETERID Parameter LSL Parameter Target Parameter USL
0                 BOW         135.9           135.65        136.15
1                 BSL        311.66           311.53        311.91
2                 BSW        132.59           132.46        132.84
3                  EL         322.6           322.35        322.85
4                  OL           315           314.75        315.25
5   POCKET-1 X Bottom         25.26            25.18         25.34
6      POCKET-1 X Top         25.26            25.18         25.34
7   POCKET-1 Y Bottom         40.26            40.18         40.34
8      POCKET-1 Y Top         40.26            40.18         40.34
9   POCKET-2 X Bottom         25.26            25.18         25.34
10     POCKET-2 X Top         25.26            25.18         25.34
11  POCKET-2 Y Bottom         40.26            40.18         40.34
12     POCKET-2 Y Top         40.26            40.18         40.34
13  POCKET-3 X Bottom         25.26            25.18         25.34
14     POCKET-3 X Top         25.26            25.18         25.34
15  POCKET-3 Y Bottom         40.26            40.18         40.34
16     POCKET-3 Y Top         40.26            40.18         40.34
17              ST(A)         10.16            10.03         10.29
18              ST(B)         10.16            10.03         10.29
19              ST(C)         10.16            10.03         10.29
20              ST(D)         10.16            10.03         10.29
21              ST(E)         10.16            10.03         10.29
22              ST(F)         10.16            10.03         10.29
23                TOW         135.9           135.65        136.15
24                TSL        311.15           311.02         311.4
25                TSW        132.08           131.95        132.33
26                 TT         12.19            12.06         12.32

In [76]:
dfspec

0              Items.  Spec Target     LSL     USL
0              Items.  Spec Target     LSL     USL
1                  EL        322.6  322.35  322.85
2                  OL          315  314.75  315.25
3                 TOW        135.9  135.65  136.15
4                 BOW        135.9  135.65  136.15
5                 TSL       311.15  311.02   311.4
6                 BSL       311.66  311.53  311.91
7                 TSW       132.08  131.95  132.33
8                 BSW       132.59  132.46  132.84
9                  TT        12.19   12.06   12.32
10              ST(A)        10.16   10.03   10.29
11              ST(B)        10.16   10.03   10.29
12              ST(C)        10.16   10.03   10.29
13              ST(D)        10.16   10.03   10.29
14              ST(E)        10.16   10.03   10.29
15              ST(F)        10.16   10.03   10.29
16     POCKET-1 X Top        25.26   25.18   25.34
17     POCKET-2 X Top        25.26   25.18   25.34
18     POCKET-3 X Top        25.26   25.18   25.34
19     POCKET-1 Y Top        40.26   40.18   40.34
20     POCKET-2 Y Top        40.26   40.18   40.34
21     POCKET-3 Y Top        40.26   40.18   40.34
22  POCKET-1 X Bottom        25.26   25.18   25.34
23  POCKET-2 X Bottom        25.26   25.18   25.34
24  POCKET-3 X Bottom        25.26   25.18   25.34
25  POCKET-1 Y Bottom        40.26   40.18   40.34
26  POCKET-2 Y Bottom        40.26   40.18   40.34
27  POCKET-3 Y Bottom        40.26   40.18   40.34

In [20]:
df = dfmeas.groupby('Items.').stack()
df.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'stack'

In [5]:
# Parse Where Used
# First fix wonky excel file
# inputwhereused = r"E:\Projects\MACD-1\MediaQual\whereused.xlsx"
inputwhereused = r"E:\Scripting\MACD\MACD\MediaQual\Examples\WhereUsed_Export_500383528_20231019135625189.xlsx"
modwhereused = r"E:\Scripting\MACD\MACD\MediaQual\whereused_comsave.xlsx"
import win32com.client
xl = win32com.client.DispatchEx("Excel.Application")
wb = xl.workbooks.open(inputwhereused)
xl.DisplayAlerts = False
wb.SaveAs(modwhereused, 51)
xl.DisplayAlerts = True
wb.Close()
xl.Quit()

In [8]:
# Load to pandas
dfwhere = pd.read_excel(modwhereused, engine='openpyxl', sheet_name='Report', skiprows=5)#, skiprows=5,nrows=30, usecols=list(range(0, 28)))
dfwhere = dfwhere.dropna(axis=0, how='any')
dfwherebom = dfwhere[dfwhere['Item Type'].str.contains('UPI_')]
bomlist = []
bomlist = dfwherebom['Description'].str.slice(0, 8).unique()
bomlist = list(map(lambda x: x + "%", bomlist))

df.columns = dfheader.columns

In [10]:
# save bom csv for pathfinder to digest
with open('boms.csv', 'w', newline='') as csvfile:
  writer = csv.writer(csvfile)
  writer.writerow(["BOM"])
  for item in bomlist:
    writer.writerow([item])